html, body {
  height: 100%;
  width: 100%;
  margin: 0;
}

/* <Heading> */
.all{
  background-image: url('back2.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
}

.dropdown{
  color:rgb(0, 0, 0);
  /* background-color:rgba(0, 68, 255, 0.367); */
  padding:20px;
  border-radius: 1px;
  text-align: right;
  margin:0%;
  font-size: 15px;
  font-family: "Poppins";
  letter-spacing: 5px;
  /* background-image: url("bluehint.jpeg"); */
}

.logo{
  border-radius: 50%;
  size: 30px;
  align-items: left;
  align-self: left;
}

.donate{
  border-style: hidden;
  background-color: rgba(255, 0, 0, 0.61);
  padding: 7px;
  font-family: Poppins;
  font-size: 20px;
  font-weight: bold;
  box-shadow: 0 5px 5px 0 rgba(0,0,0,0.2), 0 4px 3px 0 rgba(0,0,0,0.2);
  color: white;
  border-radius: 5px;
}

.donate:hover{
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.logospace{
  place-items: left;
}

.hook{
  color:rgb(0, 0, 0);
  padding:50px;
  border-radius: 1px;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  letter-spacing: 2px;

  /* background-image: url('back2.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%; */

}

.name{
  color:rgb(0, 0, 0);
  padding-top:30px;
  padding-bottom: 20px;
  /* left: 0;
  position: absolute; */
  text-align: center;
  margin:0%;
  font-size: 80px;
  font-family: "Poppins";
  letter-spacing: 1px;  
}

.yay{
  margin-top: 10px;
  padding-bottom: 0px;
  font-size: 30px;
}

.signUp{
  color:rgb(255, 255, 255);
  background-color:#000000;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding:20px;
  border-radius: 1px;
  text-align: left;
  margin:5px;
  font-size: 25px;
  align-self: center;
  font-family: "Poppins";
  word-spacing: 3px;
  letter-spacing: 2px;
  margin-top: 0px;
  border-top:0px;
  text-decoration: none;
}

.whiteText{
  color: rgb(255, 255, 255); 
  font-family: "Poppins";
  padding-left: 5px;
  padding-right: 5px;
  font-size: 13px;
  .hover {
    color: black;
  }
}

/* <round1> */
.navbar {
  list-style-type: none;
  margin: 0;
  padding: 0;
  background-color: inherit;
  position: relative;
  float: right;
}

.navbar li {
  float: left;
}

.navbar li a, .dropdown-btn {
  display: inline-block;
  color: rgb(0, 0, 0);
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  line-height: 10px;
}

.navbar li a:hover, .dropdown:hover .dropdown-btn {
  background-color: rgba(255, 255, 255, 0.543);
}

.navbar li.dropdown {
  display: inline-block;
}

.dropdown-menu {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 250px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-menu li a {
  color: inherit;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-menu li a:hover {
  background-color: #f1f1f1
}

.dropdown:hover .dropdown-menu {
  display: block;
}

.container1 {
  display: flex;
  flex-direction: row;
}

.name1 {
  margin-right: 15px;
}

/* mentors */

.title {
  padding: 20px;
  font-family: "Poppins";
  text-align: center;
}

.jRusso {
  font-family: "Poppins";
  padding: 20px;
}

.jSanders {
      font-family: "Poppins";
      padding: 20px;
}

.bio {
  font-family: "Poppins";
  padding: 20px;
}

.vMoiso {
  font-family: "Poppins";
  padding: 20px;
}


.righties {
  display: flex;
  
}

a {
  text-decoration: none;
}

.more {
  background-color: transparent;
  border-style: hidden;
  font-family: "Poppins";
  font-size: 15px;
}

.menu {
  width: 35px;
  height: 5px;
  background-color: black;
  margin: 6px 0;
}

.dropdown1 {
  position: relative;
  margin-top: 10px;
  background: transparent;
  font-family: "Poppins";

}
.dropdown1-content {
  display: none;
  position: absolute;
  width: 100%;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
  font-family: "Poppins";

}
.dropdown1:hover .dropdown1-content {
  display: block;
  font-family: "Poppins";

}
.dropdown1-content a {
  display: block;
  color: #000000;
  padding: 5px;
  text-decoration: none;
  font-family: "Poppins";

}
.dropdown1-content a:hover {
  color: #FFFFFF;
  background-color: #bd550077;
  font-family: "Poppins";
  border-radius: 2px;
  padding: 5px;
}

.name{
  color:rgb(0, 0, 0);
  padding-top:30px;
  padding-bottom: 20px;
  /* left: 0;
  position: absolute; */
  text-align: center;
  margin:0%;
  font-size: 80px;
  font-family: "Poppins";
  letter-spacing: 1px;  
}

/* collapsible */
.collapsible {
  background-color: #eeeeee00;
  color: #000000;
  cursor: pointer;
  /* padding: 18px; */
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 20px;
  font-family: "Poppins";
  letter-spacing: 5px;

}

/* Style the collapsible content. Note: hidden by default */
.viewcontent {
  padding: 0 18px;
  overflow: hidden;
}

.hook{
  color:rgb(0, 0, 0);
  padding:50px;
  border-radius: 1px;
  text-align: center;
  font-size: 30px;
  font-family: "Poppins";
  letter-spacing: 2px;

  /* background-image: url('back2.jpeg');
  background-repeat: no-repeat;
  background-size: 100% 100%; */

}

.firstQ{
  margin-bottom: 20px;
  margin-top: 20px;
}

p{
  font-size: 20px;
}

.secondQ{
  margin-top:0px;
  margin-bottom: 0px;
}

li{
  font-size: 20px;
  margin-bottom: 8px;
}

.prizes{
  color:rgb(0, 0, 0);
  background-color:rgba(255, 255, 255, 0.413);
  padding-top:20px;
  padding-bottom:20px;
  padding-right:20px;
  padding-left:5px;
  text-align: left;
  margin:0%;
  font-size: 15px;
  font-family: "Poppins";
  border-width: .5px;
  border-color: #000000;
  display: flex;
  flex-direction: row;
  border-radius: 1px;

}

.points{
  padding-left: 20px;
} 

.pointz{
  padding-top: 50px;
  padding-left: 30px;
}



.eligibility{
  color:rgb(0, 0, 0);
  background-color:rgba(255, 255, 255, 0.413);
  padding:20px;
  border-radius: 1px;
  text-align: left;
  margin:0%;
  font-size: 15px;
  font-family: "Poppins";
  border-width: 0.5px;
  border-color: #000000;
  /* background-image: url('sunset1.png'); */
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-blend-mode:overlay;
  background-blend-mode:lighten;
  display: flex;
  flex-direction: row;

}

.format{
  color:rgb(0, 0, 0);
  background-color:rgba(255, 255, 255, 0.413);
  padding:20px;
  border-radius: 0.5px;
  text-align: left;
  margin:0%;
  font-size: 15px;
  font-family: "Poppins";
}
.signUp:hover {
  background-color:#002ead27;
  transition: 0.3s;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.sponsorSignUp{
  color:rgb(255, 255, 255);
  background-color:#000000;
  background-repeat: no-repeat;
  border: none;
  cursor: pointer;
  overflow: hidden;
  outline: none;
  padding:10px;
  border-radius: 1px;
  text-align: left;
  margin:0px;
  font-size: 15px;
  align-self: center;
  font-family: "Poppins";
  word-spacing: 3px;
  letter-spacing: 2px;
  margin-top: 0px;
  border-top:0px;
}

.sponsorSignUp:hover {
  background-color:#00000027;
  transition: 0.3s;
  color: black;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.064);

}

.signUp:active{
  transform: translateY(4px);
}

.sponsorSignUp:active {
  transform: translateY(2px);
}

.donate:active {
  transform: translateY(4px);
}

.webinar{
  color:rgb(0, 0, 0);
  background-color:rgba(255, 255, 255, 0.413);
  padding:20px;
  border-radius: 1px;
  text-align: left;
  margin:0%;
  font-size: 15px;
  font-family: "Poppins";
  border-width: 0.5px;
  border-color: #000000;
}

* {
  box-sizing: border-box;
}


/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: '';
  position: absolute;
  width: 6px;
  background-color: rgb(0, 0, 0);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

/* Container around content */
.container {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  width: 50%;
}

/* The circles on the timeline */
.container::after {
  content: '';
  position: absolute;
  width: 25px;
  height: 25px;
  right: -17px;
  background-color: white;
  border: 4px solid #000000;
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Add arrows to the left container (pointing right) */
.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  right: 30px;
  border: medium solid rgba(0, 0, 0, 0.205);
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent rgba(255, 255, 255, 0.205);
}

.bolded{
  font-weight: bold;
}

/* Add arrows to the right container (pointing left) */
.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 22px;
  width: 0;
  z-index: 1;
  left: 30px;
  border: medium solid rgb(0, 0, 0);
  border-width: 10px 10px 10px 0;
  border-color: transparent transparent transparent rgba(0, 0, 0, 0.205);
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  padding: 15px 20px;
  background-color: rgb(255, 255, 255);
  /* dont mess with above */
  border: solid;
  border-color: black;
  
  position: center;
  align-items: center;
  font-size: 20px;
}

/* Media queries - Responsive timeline on screens less than 600px wide */
@media screen and (max-width: 600px) {
/* Place the timelime to the left */
  .timeline::after {
    left: 31px;
  }

/* Full-width containers */
  .container {
    width: 100%;
    padding-left: 70px;
    padding-right: 25px;
  }

/* Make sure that all arrows are pointing leftwards */
  .container::before {
    left: 60px;
    border: medium solid white;
    border-width: 10px 10px 10px 0;
    border-color: transparent rgb(0, 0, 0, 0.205) transparent transparent;
  }

/* Make sure all circles are at the same spot */
  .left::after, .right::after {
    left: 15px;
  }

/* Make all right containers behave like the left ones */
  .right {
    left: 0%;
  }
}

.sponsors{
  color:#000000;
  background-color:rgba(255, 255, 255, 0.413);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  padding-top:0px;
  padding-bottom: 5px;
  border-radius: 1px;
  text-align: center;
  font-size: 15px;
  font-family: "Poppins";
  border-width: .5px;
  border-color: #000000;
  float: center;
  margin-bottom: 0px;
}

.contact{
  color:rgb(0, 0, 0);
  background-color:#ffffff43;
  padding-top: 10px;
  padding-bottom:20px;
  padding-left: 20px;
  border-radius: 1px;
  text-align: left;
  margin:0%;
  font-size: 15px;
  font-family: "Poppins";
  text-align: center;
  border-width: .5px;
  border-color: #000000;
}


.thing{
  display: inline-block;
  clear: none;
  align-items: center;
} 
